services:
  app:
    build:
      context: .
      target: app-runner
      args:
        - NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=${NEXT_PUBLIC_GOOGLE_MAPS_API_KEY}
    container_name: ep_guard_app
    restart: unless-stopped
    env_file: .env
    network_mode: host
    environment:
      - NEXT_TELEMETRY_DISABLED=1
      - TZ=Asia/Makassar
    depends_on:
      migration:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M

  worker:
    build:
      context: .
      target: worker-runner
      args:
        - NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=${NEXT_PUBLIC_GOOGLE_MAPS_API_KEY}
    container_name: ep_guard_worker
    restart: unless-stopped
    env_file: .env
    network_mode: host
    environment:
      - TZ=Asia/Makassar
    depends_on:
      migration:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  migration:
    build:
      context: .
      target: migration-runner
    container_name: ep_guard_migration
    env_file: .env
    network_mode: host
    restart: "no"